body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: rgb(216, 140, 240); }

header {
  color: #CEC8FF; }
  header h2 {
    color: #CEC8FF; }

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0; }

.jumbotron {
  width: 100;
  margin: auto;
  height: 100;
  background-size: cover;
  padding: 0;
  background-image: url("src=https://s3.envato.com/files/277793872/645Z8241%20copy.jpg");
  color: rgb(216, 140, 240); }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: rgb(216, 140, 240); }

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #5637dd; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

#reserveFormModal .modal-header {
  background-color: #17A2B8;
  color: white; }

#loginModal .modal-header {
  background-color: #901CAD;
  color: white; }
